.header{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font: bolder;
}

.row{
    color: rgb(0, 0, 0);
}

.navbar-brand{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: xx-large;
    font: bolder;
}

.landing-viz{
    height: 200px;
    width: 200px;
}

.page-background{
    background-color: rgb(255, 255, 255);
}

.content-image{
    height: 300px;
    width: 300px;
    float: left;
    padding: 10px;
}
.comparison-viz{
    height: 400px;
    width: 400px;
}
@media (max-width: 900px) {
    nav {
        background-color: rgb(255, 255, 255);
    }

    .landing-viz{
        height: 300px;
        width: 300px;
    }

    .page-background{
        background-color: white;
    }
}